* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 140px;
    background-color: rgb(178, 178, 209);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 40px;
    text-transform: uppercase;
}

header img {
    height: 64px;
    margin-left: 8px;
}

.container_retangulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.retangulo {
    width: 800px;
    height: 10px;
    background-color: rgb(46, 42, 48);
    align-self: center;
    margin: 16px;
}

.form-container, input, button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-contatos input, button {
    padding: 4px;
    margin-bottom: 10px;
    width: 600px;
    font-size: 18px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(178, 178, 209);
    background-color: rgb(228, 228, 252);
}

#form-contatos button {
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(94, 94, 172);
    border-radius: 6px;
    background-color:rgb(117, 117, 170);
    text-transform: uppercase;
    font-weight: bold;
}

table {
    width: 100%;
}

table th {
    text-transform: uppercase;
    font-size: 20px;
}

table td {
    text-align: center;
    padding: 10px;
    background-color: rgb(117, 117, 170);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}